{{#section 'css'}}
<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.0.3/css/fileinput.min.css" media="all"
    rel="stylesheet" type="text/css" />
<link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.min.css">

<style>
    .page-title {
        display: flex;
        justify-content: space-between;
    }

    .checkbox>label {
        font-weight: bold;
        margin-left: 15px;
    }

    /* .password-group{
        display: none; */
    /* } */

    .box-authentication {
        width: 550px;
        margin-left: 70px !important;
    }

    .page-content {
        width: 90%;
        margin: auto;
    }
</style>

{{/section}}

{{#section 'js'}}

{{!-- Textarea cho mô tả chi tiết --}}
<script
    src="https://cloud.tinymce.com/5/tinymce.min.js?apiKey=ezd73nxbzc7bu6e86g2l82jbbffke0mwevwrnyvc5q8h89j6"></script>
<script>
    tinymce.init({
        selector: '#txtFullDes',
        height: 400,
        plugins: 'paste image link autolink lists table media',
        menubar: false,
        toolbar: [
            'undo redo | bold italic underline strikethrough | numlist bullist | alignleft aligncenter alignright',
            'forecolor backcolor',
            'table link image media',
        ],
    });
</script>

{{!-- NGÀY THÁNG NĂM --}}
<script
    src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.full.min.js"></script>
<script>
    $('#txtDOE').datetimepicker({
        //format: 'd/m/Y H:s'
        format: 'd/m/Y',
        timepicker: false,
        mask: true,
    });

    function validate() {
        return true;
    }
</script>

{{!-- upload file --}}
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.0.3/js/fileinput.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.0.3/themes/fa/theme.min.js"></script>
<script>
    $('#fuMain').fileinput({
        theme: 'fa',
        dropZoneEnabled: false,
        allowedFileExtensions: ['png', 'jpg', 'gif'],
    });
</script>
{{/section}}


<seticon class="main-container col2-right-layout">
    <div class="main container">
        <div class="row">
            <div class="col-main col-sm-12 col-xs-12">
                <div class="page-content checkout-page">
                    <div class="page-title">
                        <h2>Bổ sung thông tin</h2>
                    </div>
                    <form method="POST" name="frmEditProduct" novalidate >
                        <div class="box-border">
                            <input type="hidden" name="id" class="input form-control"
                                            id="phone_number" value="{{this.product.id}}">
                            <ul>
                                <li class="row">
                                    <div class="col-sm-6">
                                        <label for="first_name" class="required">Tên sản phẩm: </label>
                                        <input type="text" readonly value="{{this.product.p_name}}"  class="input form-control" name="p_name" id="first_name">
                                    </div>
                                    <!--/ [col] -->
                                    <div class="col-sm-6">

                                        <label for="txtDOE" class="required">Ngày hết hạn: </label>
                                        <input type="text" readonly value="{{this.product.expired_at}}" class="form-control" id="txtDOE" name="doe">

                                    </div>

                                    <!--/ [col] -->
                                </li>
                                <!--/ .row -->
                                <li class="row">
                                    <div class="col-sm-6">
                                        <label for="company_name">Gía hiện tại: </label>
                                        <input type="text" readonly value="{{this.product.current_bid}}" name="current_bid" class="input form-control"
                                            id="company_name">
                                    </div>
                                    <!--/ [col] -->
                                    <div class="col-sm-6">
                                        <label for="email_address" class="required">Gía mua ngay:</label>
                                        <input type="text" readonly value="{{this.product.purchase_bid}}"  class="input form-control" name="purchase_bid"
                                            id="email_address">
                                    </div>
                                    <!--/ [col] -->
                                </li>
                                <!--/ .row -->
                                <li class="row">
                                    <!--/ [col] -->
                                    <div class="col-sm-6">
                                        <label class="required">Loại:</label>
                                        <select class="input form-control"  name="id_type">
                                            <option selected="true" disabled="disabled">{{this.typeName}}</option>
                                        </select>
                                    </div>
                                    <!--/ [col] -->
                                    <div class="col-sm-6">
                                        <label for="fuMain" class="required">Ảnh: </label>
                                        <input id="fuMain" name="fuMain" type="file" multiple>
                                    </div>
                                </li>
                                <!--/ .row -->
                                  <li class="row">
                                    <div class="col-xs-12" style="height: 500px; 
                                                                  background-color: rgb(242, 243, 237);
                                                                    overflow: auto;
                                                                    margin-top:10px;
                                                                    margin-bottom:5px">
                                        <p>{{{this.product.detail}}}</p>
                                    </div>
                                    <!--/ [col] -->

                                </li><!-- / .row -->
                                <li class="row">
                                    <div class="col-xs-12">
                                        <label for="txtFullDes" class="required">Viết thêm mô tả:</label>
                                        <textarea class="form-control" id="txtFullDes" name="moreDetail"></textarea>
                                    </div>
                                    <!--/ [col] -->

                                </li><!-- / .row -->
                                <li>
                                    <a class="continue-btn" href="/seller/product"><i class="fa fa-arrow-left"> </i>&nbsp;
                                        Trở về
                                        list</a>&nbsp;
                                    <button class="button" formaction="/seller/product/patch"><i class="fa fa-check "></i>&nbsp; <span>BỔ SUNG</span></button>
                                </li>
                            </ul>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>
    </section>