{{#section 'css'}}
<style>
  .item-brief {
    padding-left: 3px;

  }

  .product-item {
    /* margin-top: 10px; */
    /* background-color: rgb(245, 240, 139); */
    border-style: groove;
    /* border-color: honeydew; */
    border-width: 1px;
  }

  .form-control {
    width: 200px;
  }

  .page-title {
    display: flex;
    justify-content: space-between;
  }

  .form-group {
    width: fit-content;
  }

  td {
    margin: auto;
    vertical-align: middle;
  }

  .th-delate {
    font-size: x-large;
  }
</style>
{{/section}}
<!-- Main Container -->
<section class="main-container col2-right-layout">
  <div class="main container">
    <div class="row">
      <div class="col-main col-sm-9 col-xs-12">
        <div class="my-account">
          <div class="page-title">
            <h2>Danh sách sản phẩm đã thắng</h2>
          </div>
          {{!-- Danh sách --}}
          {{#if this.empty}}
          <div class="card-body">
            <p style="color:#fed700; font-size:25px">Danh sách yêu thích rỗng</p>
            <a class="continue-btn" href="/"><i class="fa fa-arrow-left"> </i>&nbsp; Về trang chủ</a>
          </div>
          {{else}}
          <div class="wishlist-item table-responsive">
            <table class="col-md-12">
              <thead>
                <tr>
                  <th class="th-delate">Phán xét</th>
                  <th class="th-product">Ảnh đại diện</th>
                  <th class="th-details">Thông tin sản phẩm</th>
                  <th class="th-price">Giá đấu</th>

                </tr>
              </thead>
              <tbody>
                {{#each this.products}}
                <tr class="parent-{{id}}">

                  <td class="th-delete" data-id="{{id}}"><a href="/seller/soldlist/{{id}}/addComment">
                      <i class="fas fa-comments" style="color: rgb(57, 142, 221);
                                                   font-size:xx-large   "></i></a></td>
                  <td class="th-product"><a href="/products/{{id}}"><img src="/images/products-images/{{image}}"
                        alt="cart"></a></td>
                  <td class="th-details">
                    <h2><a href="/products/{{id}}">{{p_name}}</a></h2>
                  </td>
                  <td class="th-price">{{format current_bid}}</td>

                </tr>
                {{/each}}
              </tbody>
            </table>
            <a href="checkout.html" class="delete-all">Xóa tất cả</a>
          </div>
          {{/if}}

        </div>
      </div>
      <aside class="right sidebar col-sm-3 col-xs-12">
        <div class="sidebar-account block">
          <div class="sidebar-bar-title">
            <h3>Tài khoản của tôi</h3>
          </div>
          <div class="block-content">
            <ul>
              <li><a href="/seller/product">Sản phẩm đấu giá</a></li>
            <li class="current last"><a href="javascript:;">Danh sách sản phẩm đã có người mua</a></li>
            </ul>
          </div>
        </div>

      </aside>
    </div>
  </div>
</section>
<!-- Main Container End -->


