<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Basic page needs -->
  <meta charset="utf-8">
  <!--[if IE]>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <![endif]-->
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>MyStore premium HTML5 &amp; CSS3 template</title>
  <meta name="description"
    content="best template, template free, responsive theme, fashion store, responsive theme, responsive html theme, Premium website templates, web templates, Multi-Purpose Responsive HTML5 Template">
  <meta name="keywords"
    content="bootstrap, ecommerce, fashion, layout, responsive, responsive template, responsive template download, responsive theme, retail, shop, shopping, store, Premium website templates, web templates, Multi-Purpose Responsive HTML5 Template" />
  <!-- Mobile specific metas  , -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  {{!-- <!-- Favicon  -->
  <link rel="shortcut icon" type="image/x-icon" href="favicon.ico"> --}}

  <!-- Google Fonts -->
  <link href='https://fonts.googleapis.com/css?family=PT+Sans:400,700italic,700,400italic' rel='stylesheet'
    type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Arimo:400,400italic,700,700italic' rel='stylesheet'
    type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Dosis:400,300,200,500,600,700,800' rel='stylesheet'
    type='text/css'>

  <!-- CSS Style -->

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">

  <!-- font-awesome & simple line icons CSS -->
  <link rel="stylesheet" type="text/css" href="/css/font-awesome.css" media="all">
  <link rel="stylesheet" type="text/css" href="/css/simple-line-icons.css" media="all">

  <!-- owl.carousel CSS -->
  <link rel="stylesheet" type="text/css" href="/css/owl.carousel.css">
  <link rel="stylesheet" type="text/css" href="/css/owl.theme.css">
  <link rel="stylesheet" type="text/css" href="/css/owl.transitions.css">

  <!-- animate CSS  -->
  <link rel="stylesheet" type="text/css" href="/css/animate.css" media="all">

  <!-- flexslider CSS -->
  <link rel="stylesheet" type="text/css" href="/css/flexslider.css">

  <!-- jquery-ui.min CSS  -->
  <link rel="stylesheet" type="text/css" href="/css/jquery-ui.css">

  <!-- Revolution Slider CSS -->
  <link href="/css/revolution-slider.css" rel="stylesheet">

  <!-- style CSS -->
  <link rel="stylesheet" type="text/css" href="/css/style.css" media="all">
  <script src="https://kit.fontawesome.com/166a70ea35.js" crossorigin="anonymous"></script>
</head>
{{{_sections.css}}}

<body class="cms-index-index cms-home-page">
  <div id="page">

    <!-- Header -->
    <header>
      <div class="header-container">
        <div class="header-top">
          <div class="container">
            <div class="row">
              <div class="col-lg-4 col-sm-4 hidden-xs">
                <!-- Default Welcome Message -->
                <div class="welcome-msg ">Chào mừng đến Auction! </div>
                <span class="phone hidden-sm">Hotline: 0971 432 782</span>
              </div>

              <form id="frmLogout" method="post" action="/account/logout"></form>
              {{#if isAuthenticated}}
              <div class="headerlinkmenu col-lg-8 col-md-7 col-sm-8 col-xs-12">
                <div class="links">
                  <div class="myaccount">
                    <a title="My Account" href="/bidder/info">
                      <i class="fa fa-user" data-id="{{authUser.id}}"></i>
                      <span class="hidden-xs my-acc">{{authUser.fullname}}</span>
                    </a>
                  </div>

                  <div class="login">
                    <a href="javascript: $('#frmLogout').submit();">
                      <i class="fa fa-unlock-alt"></i>
                      <span class="hidden-xs">Log Out</span>
                    </a>
                  </div>
                </div>
              </div>

              {{else}}
              <!-- top links -->
              <div class="headerlinkmenu col-lg-8 col-md-7 col-sm-8 col-xs-12">
                <div class="links">
                  <div class="myaccount">
                    <a title="My Account" href="/bidder/info">
                      <i class="fa fa-user"></i>

                      <span class="hidden-xs my-acc">My Account</span>
                    </a>
                  </div>

                  <div class="login">
                    <a href="/account/login">
                      <i class="fa fa-unlock-alt"></i>
                      <span class="hidden-xs">Log In</span>
                    </a>
                  </div>
                  <div class="login">
                    <a href="/account/register">
                      <i class="fa fa-unlock-alt"></i>
                      <span class="hidden-xs">Register</span>
                    </a>
                  </div>
                </div>
              </div>

              {{/if}}
            </div>
          </div>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-sm-3 col-md-3 col-xs-12">
              <!-- Header Logo -->
              <div class="logo">
                <a title="e-commerce" href="/">
                  <img alt="responsive theme logo" src="/images/logo.png">
                </a>
              </div>
              <!-- End Header Logo -->
            </div>
            <div class="col-xs-9 col-sm-6 col-md-6">
              <!-- Search -->

              <div class="top-search">
                <div id="search">
                  <form>
                    <div class="input-group">
                      <select class="cate-dropdown hidden-xs" name="category_id">
                        <option>All Categories</option>
                        <option>women</option>
                        <option>&nbsp;&nbsp;&nbsp;Accessories </option>
                        <option>&nbsp;&nbsp;&nbsp;Dresses</option>
                        <option>&nbsp;&nbsp;&nbsp;Top</option>
                        <option>&nbsp;&nbsp;&nbsp;Handbags </option>
                        <option>&nbsp;&nbsp;&nbsp;Shoes </option>
                        <option>&nbsp;&nbsp;&nbsp;Clothing </option>
                        <option>Men</option>
                        <option>Electronics</option>
                        <option>&nbsp;&nbsp;&nbsp;Mobiles </option>
                        <option>&nbsp;&nbsp;&nbsp;Music &amp; Audio </option>
                      </select>
                      <input type="text" class="form-control" placeholder="Search" name="search">
                      <button class="btn-search" type="button">
                        <i class="fa fa-search"></i>
                      </button>
                    </div>
                  </form>
                </div>
              </div>

              <!-- End Search -->
            </div>
            <!-- top cart -->

            <div class="col-lg-3 col-xs-3 top-cart">
              <div class="top-cart-contain">
                <div class="mini-cart">
                  <div data-toggle="dropdown" data-hover="dropdown" class="basket dropdown-toggle">
                    <a href="/bidder/wishlist">
                      <div class="cart-icon" style="margin-right: 10px;margin-top: 5px;">
                        <!-- <i class="fa fa-shopping-cart"></i> -->
                        <i class="fas fa-clipboard-list fa-3x"></i>

                      </div>
                      <div class="shoppingcart-inner hidden-xs">
                        <span class="cart-title">Wish List</span>
                        <span class="cart-total"> {{wishlistLength}} Item(s)</span>
                      </div>
                    </a>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>
    <!-- end header -->

    <!-- Navbar -->
    <nav>
      <div class="container">
        <div class="row">
          <div class="col-md-3 col-sm-4">
            <div class="mm-toggle-wrap">
              <div class="mm-toggle">
                <i class="fa fa-align-justify"></i>
              </div>
              <span class="mm-label">Categories</span>
            </div>
            <div class="mega-container visible-lg visible-md visible-sm">
              <div class="navleft-container">
                <div class="mega-menu-title">
                  <h3>Categories</h3>
                </div>
                <div class="mega-menu-category">
                  <ul class="nav">
                    {{#each lcCategories}}
                    {{#if mangcap2}}
                    <li>
                      <a href="/categories/{{cap1.id}}/products">
                        <i class="icon fa {{cap1.icon}} fa-fw"></i>{{cap1.cate_name}}</a>
                      <div class="wrap-popup column1">
                        <div class="popup">
                          <div class="row">
                            <div class="col-md-12">
                              <ul class="nav">
                                {{#each mangcap2}}
                                <li>
                                  <a href="/categories/{{cap2_id}}/products">
                                    <span>{{cap2_name}}</span>
                                  </a>
                                </li>
                                {{/each}}
                              </ul>
                            </div>
                          </div>
                        </div>
                      </div>
                    </li>

                    {{else}}
                    <li class="nosub">
                      <a href="/categories/{{cap1.id}}/products">
                        <i class="icon fa {{cap1.icon}} fa-fw"></i>{{cap1.cate_name}}</a>
                    </li>
                    {{/if}}
                    {{/each}}


                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-9 col-sm-8">
            <div class="mtmegamenu">
              <ul>
                <li class="mt-root demo_custom_link_cms">
                  <div class="mt-root-item">
                    <a href="/">
                      <div class="title title_font">
                        <span class="title-text">Home</span>
                      </div>
                    </a>
                  </div>
                </li>
                <li class="mt-root">
                  <div class="mt-root-item">
                    <a href="contact_us.html">
                      <div class="title title_font">
                        <span class="title-text">Contact Us</span>
                      </div>
                    </a>
                  </div>
                </li>
                <li class="mt-root">
                  <div class="mt-root-item">
                    <a href="about_us.html">
                      <div class="title title_font">
                        <span class="title-text">about us</span>
                      </div>
                    </a>
                  </div>
                </li>
                <li class="mt-root demo_custom_link_cms">
                  <div class="mt-root-item">
                    <a href="blog_full_width.html">
                      <div class="title title_font">
                        <span class="title-text">Blog</span>
                      </div>
                    </a>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </nav>
    <!-- end nav -->



    <!-- main container -->
    {{{body}}}

    <!-- end main container -->

    <!-- Footer -->

    <footer>
      <div class="footer-newsletter">
        <div class="container">
          <div class="row">
            <div class="col-md-8 col-sm-7">
              <form id="newsletter-validate-detail" method="post" action="#">
                <h3 class="hidden-sm">Sign up for newsletter</h3>
                <div class="newsletter-inner">
                  <input class="newsletter-email" name='Email' placeholder='Enter Your Email' />
                  <button class="button subscribe" type="submit" title="Subscribe">Subscribe</button>
                </div>
              </form>
            </div>
            <div class="social col-md-4 col-sm-5">
              <ul class="inline-mode">
                <li class="social-network fb">
                  <a title="Connect us on Facebook" target="_blank" href="https://www.facebook.com/">
                    <i class="fab fa-facebook"></i>
                  </a>
                </li>
                <li class="social-network googleplus">
                  <a title="Connect us on Google+" target="_blank" href="https://plus.google.com/">
                    <i class="fab fa-google-plus"></i>
                  </a>
                </li>
                <li class="social-network tw">
                  <a title="Connect us on Twitter" target="_blank" href="https://twitter.com/">
                    <i class="fab fa-twitter"></i>
                  </a>
                </li>
                <li class="social-network linkedin">
                  <a title="Connect us on Linkedin" target="_blank" href="https://www.pinterest.com/">
                    <i class="fab fa-linkedin"></i>
                  </a>
                </li>
                <li class="social-network rss">
                  <a title="Connect us on Instagram" target="_blank" href="https://instagram.com/">
                    <i class="fas fa-rss"></i>
                  </a>
                </li>
                <li class="social-network instagram">
                  <a title="Connect us on Instagram" target="_blank" href="https://instagram.com/">
                    <i class="fab fa-instagram"></i>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <div class="footer-coppyright">
        <div class="container">
          <div class="row">
            <div class="col-sm-6 col-xs-12 coppyright"> Copyright © 2019 MyAuction. Edit by
              <a href="https://www.facebook.com/thuong.duong.12"> Thuong </a>. All Rights Reserved. </div>
            <div class="col-sm-6 col-xs-12">
              <div class="payment">
                <ul>
                  <li>
                    <a href="#">
                      <img title="Visa" alt="Visa" src="/images/visa.png">
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <img title="Paypal" alt="Paypal" src="/images/paypal.png">
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <img title="Discover" alt="Discover" src="/images/discover.png">
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <img title="Master Card" alt="Master Card" src="/images/master-card.png">
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <a href="#" class="totop"> </a>
    <!-- End Footer -->

  </div>


<div id="myMessage" class="modal fade" role="dialog">
    <div class="modal-dialog modal-md">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title"> message </h4>
        </div>
        <div class="modal-body">
          <p> Sản phẩm <i>...</i> đã thêm vào danh sách yêu thích</p>
          <p><a href="/bidder/wishlist"> Xem danh sách</a></p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
        </div>
      </div>
    </div>
  </div>



  <!-- JS -->

  <!-- jquery js -->
  <script type="text/javascript" src="/js/jquery.min.js"></script>

  <!-- bootstrap js -->
  <script type="text/javascript" src="/js/bootstrap.min.js"></script>


  <!-- owl.carousel.min js -->
  <script type="text/javascript" src="/js/owl.carousel.min.js"></script>

  <!-- bxslider js -->
  <script type="text/javascript" src="/js/jquery.bxslider.js"></script>

  <!-- Slider Js -->
  <script type="text/javascript" src="/js/revolution-slider.js"></script>

  <!-- megamenu js -->
  <script type="text/javascript" src="/js/megamenu.js"></script>
  <script type="text/javascript">
    /* <![CDATA[ */
    var mega_menu = '0';

    /* ]]> */
  </script>

  <!-- jquery.mobile-menu js -->
  <script type="text/javascript" src="/js/mobile-menu.js"></script>

  <!--jquery-ui.min js -->
  <script type="text/javascript" src="/js/jquery-ui.js"></script>

  <!-- main js -->
  <script type="text/javascript" src="/js/main.js"></script>

  <!-- countdown js -->
  <script type="text/javascript" src="/js/countdown.js"></script>

  {{{_sections.js}}}



  <script>
    jQuery(document).ready(function () {
      var current_time = $('.current_time').attr('content');
      //.log(current_time);
      $('.countbox_1').each(function () {
        var timerun = $(this).attr('timerun');
        //console.log(timerun);
        //console.log('countbox_1' + ':' + $(this).attr('value'));
        var dthen1 = new Date(timerun);
        start_date = Date.parse(current_time);
        var dnow1 = new Date(start_date);
        if (dthen1 > dnow1) {
          if (CountStepper > 0)
            ddiff = new Date((dnow1) - (dthen1));
          else
            ddiff = new Date((dthen1) - (dnow1));

          gsecs1 = Math.floor(ddiff.valueOf() / 1000);

          var iid1 = $(this).attr('value');
          CountBack_slider(gsecs1, iid1, 1);
        }
      });
    });
  </script>

  <script>
    jQuery(document).ready(function () {
      $('.mega-menu-category').hide();
    });
  </script>

  <script>
    jQuery(document).ready(function () {
      $('.add_to_wishlist').click(function () {
        var myAcc = $('.my-acc').text();
        if (myAcc === 'My Account') {
          window.location = "../../account/login";
        }
        console.log(myAcc);
        var idProduct = $(this).attr('data-id');
        $.ajax({
          url: '/bidder/wishlist',
          type: 'POST',
          data: {
            id: idProduct, // $_POST['id'] = 22
            action: 'add'
          },
          dataType: 'JSON',
          success: function (response) {
            // response : obj
            console.log(response);
            if(response.success){
              $('.modal-title').text(response.message)
              $('.modal-body i').text(response.data)
            }
            else{
              $('.modal-title').text('Error!')
              $('.modal-body').text(response.message)
            }
            $('#myMessage').modal('show')
          }
        })
      });
    })
  </script>

</body>

</html>