<div class="card shadow mb-4">
  <h4 class="card-header">
    Products
  </h4>

  {{#if this.empty}}
  <div class="card-body">
    <p class="card-text">
      Không có dữ liệu.
    </p>
  </div>
  {{else}}
  <div class="card-body">
    <div class="row">
      {{#each this.products}}
      <div class="col-sm-4 mb-3">
        <div class="card h-100">
          <img src="/imgs/sp/{{ProID}}/main_thumbs.jpg" alt="{{ProName}}" title="{{ProName}}" class="card-img-top">
          <div class="card-body">
            <h6 class="card-title">{{ProName}}</h6>
            <h5 class="card-title text-danger">{{format Price}}</h5>
            <p class="card-text">{{TinyDes}}</p>
          </div>
          <div class="card-footer text-center">
            <a class="btn btn-sm btn-outline-primary" href="/products/{{ProID}}" role="button">
              <i class="fa fa-eye" aria-hidden="true"></i>
              Details
            </a>
            <a class="btn btn-sm btn-outline-success" href="#" role="button">
              <i class="fa fa-shopping-cart" aria-hidden="true"></i>
              Add to cart
            </a>
          </div>
        </div>
      </div>
      {{/each}}
    </div>
    <div class="row">
      <div class="col-sm-12">
        <nav>
          <ul class="pagination">
            <li class="page-item">
              <a class="page-link" href="?page={{prev_value}}">
                <i class="fa fa-backward" aria-hidden="true"></i>
              </a>
            </li>
            {{#each this.page_numbers}}
            {{#if isCurrentPage}}
            <li class="page-item active" aria-current="page">
              <a class="page-link" href="javascript:;">{{value}} <span class="sr-only">(current)</span></a>
            </li>
            {{else}}
            <li class="page-item">
              <a class="page-link" href="?page={{value}}">{{value}}</a>
            </li>
            {{/if}}
            {{/each}}
            <li class="page-item">
              <a class="page-link" href="?page={{next_value}}">
                <i class="fa fa-forward" aria-hidden="true"></i>
              </a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
  {{/if}}

  <div class="card-footer text-muted">
    Footer
  </div>
</div>